#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator {
  min-width: 20%;
}

.display-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 16px;
}

.display {
  display: flex;
  flex-direction: column;
}

.input-section {
  min-height: 60%;
}
